* {
  text-align: center;
}

.all-form {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  height: 690px;
  margin: 30px 30px 50px;
  padding: 15px;
  width: 470px;
  z-index: -2;
}

.form-input {
  align-items: center;
  border-radius: 20px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  height: 660px;
  justify-content: space-evenly;
  overflow: hidden;
  padding: 20px;
  position: relative;
  text-align: center;
  width: 440px;
}

.form-input:before {
  background-image: url('../../images/background.jpg');
  background-size: cover;
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0.8;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.form-text {
  color: aliceblue;
}

.form-control, input {
  margin-bottom: 10px;
}

@media ( max-width : 600px ) {

  .all-form {
    height: 345px;
    margin: 15px 15px 25px;
    padding: 7.5px;
    width: 235px;
  }
  
  .form-input {
    height: 330px;
    width: 220px;
  }
  
  .form-text {
    color: aliceblue;
  }

  .form-control {
    font-size: x-small;
    height: 30px;
  }

  .all-form span {
    font-size: x-small;
  }

  .all-form label {
    align-content: space-around;
    align-items: center;
    display: flex;
  }
  
  .form-control, input {
    margin: 5px;
  }

  .btn {
    font-size: x-small;
    margin-bottom: 0 ! important;
  }
}
