body {
  font-family: monospace;
  height: 100%;
  position: relative;
}

body:before {
  background-image: url('./images/backgroundPage.jpg');
  background-size: 100%;
  bottom: -20px;
  content: '';
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: -40px;
  z-index: -3;
}

.form-card {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.filtro-cards {
  display: flex;
  justify-content: space-evenly;
}

.filtro-cards input, .filtro-cards select {
  width: auto;
}

.super-trunfo-filtro {
  align-items: center;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  display: flex;
  justify-content: center;
  padding: 0.375rem 0.75rem;
}

.super-trunfo-filtro p, .super-trunfo-filtro input {
  margin: 0 10px;
}

.title-geral {
  font-family: Atlas , monospace;
  font-size: xx-large;
  margin: 40px 0;
}

ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: -2rem;
}

@media ( max-width : 600px ) {
  
  .super-trunfo-filtro p, .super-trunfo-filtro input {
    font-size: x-small;
    margin: 0 2px;
  }

  .filtro-cards {
    flex-wrap: wrap;
    width: 90%;
  }

}
